p{
    color:blue;
    text-align: center;
    font-family:"Bembo" ;
    font-size: 60px}

    .centradorojo{color:red; 
        text-align: center}
    .derecharojo{color:red;
        text-align: right}
    .verde{color: green;}
    .izquierdanegro{color: gold;}
        